# App
PORT=3000
NODE_ENV=development

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=your_database_password
DATABASE_NAME=task_alrashed

# JWT
JWT_ACCESS_SECRET=replace_with_secure_jwt_secret
JWT_ACCESS_EXPIRATION=60m
